@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}

a {
  color: inherit;
  text-decoration: none;
}
